.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(./dictionary.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 600px;
  padding: 15px 15px;
  color: #392f2f;
}

.App .container {
  padding: 0;
  margin: 0 auto;
}

.App header {
  padding: 20px;
  text-align: center;
}
.App h1 {
  color: #f9f9f9;
  font-size: 40px;
  font-weight: bold;
}

.App footer {
  color: #f9f9f9;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
.App footer a {
  color: #f9f9f9;
  text-decoration: none;
  transition: 200ms all ease-in-out;
}
.App footer a:hover {
  color: #a1c9cde3;
}
