.Meaning h3 {
  margin-bottom: 0;
  font-weight: 700;
}

.Meaning .definition {
  color: #685454;
  line-height: 1.8;
  font-size: 15px;
  margin-top: 10px;
}
.Meaning .example {
  color: #a7b99e;
  line-height: 1.8;
  font-style: italic;
  font-size: 14px;
}
